<!--card1-->
<div class="container d-flex justify-content-center">
  <div class="row pb-5">
<div class="text-center mx-auto wrap col-sm-4 col-12 pt-5 d-flex justify-content-center" style="width: 18rem;">
  <div class="post">
  <div class="front">
  <img src={{toyStory}} class="card-img-top img-fluid" alt="toy story 4">
</div>
<div class="back p-3 text-center">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit inventore rerum nihil iste autem adipisci pariatur dolorem perspiciatis, quidem dicta. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis perferendis nobis voluptas temporibus minima doloribus voluptatum modi vel, ducimus assumenda sapiente sint ea placeat vitae consequatur possimus, suscipit harum qui.</p>
</div>
</div>
</div>
<!--card2-->
<div class="text-center mx-auto wrap col-sm-4 col-12 pt-5 d-flex justify-content-center" style="width: 18rem;">
  <div class="post">
  <div class="front">
  <img src={{moana}} class="card-img-top img-fluid" alt="toy story 4">
</div>
<div class="back p-3 text-center">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit inventore rerum nihil iste autem adipisci pariatur dolorem perspiciatis, quidem dicta. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis perferendis nobis voluptas temporibus minima doloribus voluptatum modi vel, ducimus assumenda sapiente sint ea placeat vitae consequatur possimus, suscipit harum qui.</p>
</div>
</div>
</div>
<!--card3-->
<div class="text-center mx-auto wrap col-sm-4 col-12 pt-5 d-flex justify-content-center" style="width: 18rem;">
  <div class="post">
  <div class="front">
  <img src={{brave}} class="card-img-top img-fluid" alt="toy story 4">
</div>
<div class="back p-3 text-center">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit inventore rerum nihil iste autem adipisci pariatur dolorem perspiciatis, quidem dicta. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis perferendis nobis voluptas temporibus minima doloribus voluptatum modi vel, ducimus assumenda sapiente sint ea placeat vitae consequatur possimus, suscipit harum qui.</p>
</div>
</div>
</div>
</div>
</div>



