<!--iconos-->
<div class="container-fluid">
  <div class="row bg-dark p-3">
    <div class="col-lg-4 col-12 text-secondary">
    <i class="fab fa-instagram fa-lg pr-3 icons-footer"></i>
    <i class="fab fa-facebook-f fa-lg pr-3 icons-footer"></i>
    <i class="fab fa-twitter fa-lg pr-3 icons-footer"></i>
    <i class="fab fa-youtube fa-lg pr-3 icons-footer"></i>
  </div>
  </div>
</div>

<!--titulos-->
<div class="container-fluid">
  <div class="row bg-dark pl-3">
    <div class="col-lg-3">
      <a href="#" style="text-decoration: none;"><p class="links-footer">Lorem impsum</p></a>
      <a href="#" style="text-decoration: none;"><p class="links-footer">Lorem impsum</p></a>
      <a href="#" style="text-decoration: none;"><p class="links-footer">Lorem impsum</p></a>
      <a href="#" style="text-decoration: none;"><p class="links-footer">Lorem impsum</p></a>
    </div>
    <div class="col-lg-3">
      <a href="#" style="text-decoration: none;"><p class="links-footer">Lorem impsum</p></a>
      <a href="#" style="text-decoration: none;"><p class="links-footer">Lorem impsum</p></a>
      <a href="#" style="text-decoration: none;"><p class="links-footer">Lorem impsum</p></a>
    </div>
    <div class="col-lg-3">
      <a href="#" style="text-decoration: none;"><p class="links-footer">Lorem impsum</p></a>
      <a href="#" style="text-decoration: none;"><p class="links-footer">Lorem impsum</p></a>
      <a href="#" style="text-decoration: none;"><p class="links-footer">Lorem impsum</p></a>
    </div>

  </div>
</div>
<!--boton y copyrigth-->
<div class="container-fluid">
  <div class="row pl-4 bg-dark">
    <p class="text-secondary">1997-2021 Lorem,Inc</p>
  </div>
</div>

